ADMIN_ROLE_ID=""
BROWN=""
BROWN_BOARD_ID=""
DATABASE_URL="postgresql://bootbot:changeme@bootbot-db:5432/bootbot-db"
GOLD=""
GOLD_BOARD_ID=""
GUILD=""
LEADERBOARD_CHANNEL_ID=""
LEADERBOARD_MESSAGE_ID=""
MIN_COUNT="4"
TOKEN=""